legend {
    position: relative;
    z-index: 2;
    margin-left: 1rem;
    margin-bottom: -1rem;
    padding: 0 1rem;
    background-color: var(--color-base);
    width: fit-content;
}

fieldset {
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-base-darken);
}

input {
    appearance: none;
    padding: var(--padding);
    background-color: var(--color-base-darken);
    border: none;
    outline:none;
    color: var(--color-font);
    margin: calc(var(--padding) / 2);
    font-size: 1.6rem;
    height: 4rem;
    &:disabled {
        background-color: var(--color-disabled);
        color: var(--color-base);
    }
}

input[type="checkbox"], input[type="radio"] {
    vertical-align: middle;
    margin-top: calc((var(--padding) / 2));
    display: inline-block;
    position: relative;
    width: auto;
    height: unset;
    &:checked {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
        color: var(--color-font);
        &::after {
            content: '\2714';
            font-size: 1.6rem;
            position: absolute;
            top: 0px;
            left: 4px;
            color: var(--color-font);
        }
        &:disabled {
            &::after {
                color: var(--color-base); 
            }
        }
    }
}

input[type="checkbox"] {
    &:checked {
        &::after {
            left: 5px;
        }
    }
}

input[type="radio"] {
    border-radius: 50%;
    &:checked {
        &::after {
            content: '\00B7';
            font-size: 6rem;
            line-height: .9rem;
            left: 3px;
        }
    }
}

input[type="date"] {
    position: relative;
    padding: 10px;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
  }
  
  input[type="date"]:before {
    color: var(--color-font);
    background: none;
    display: block;
    font-family: 'FontAwesome';
    content: '\f073';
    width: 15px;
    height: 20px;
    position: absolute;
    top: 1.1rem;
    right: 1em;
    color: var(--color-font);
  }

  [type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
  }
  
[type="file"] + label {
    background: var(--color-base-darken);
    border: none;
    border-radius: var(--border-radius);
    color:var(--color-font);
    cursor: pointer;
    display: inline-block;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
    overflow: hidden;
    margin-right: calc(var(--padding) / 2);
    
    &::before {
        color: var(--color-font);
        font-family:"FontAwesome";
        content: '\f0ee';
        font-size: 130%;
        height: 100%;
        left: 0;
        line-height: 1;
        position: absolute;
        left: -110%;
        transition: all 0.3s;
        width: 100%;
    }

    &:hover {              
        span {
            transform: translateY(300%);
        } 
        &::before {
            left: 5%;
        }
    }
}


.form-group {
    display: flex;
    align-items: center;

    & .full-width {
        width: 100%;
    }
}