legend {
    position: relative;
    z-index: 2;
    margin-left: 1rem;
    margin-bottom: -1rem;
    padding: 0 1rem;
    background-color: var(--theme-base);
    width: fit-content;
}

fieldset {
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: 1px solid var(--theme-shade);
}

label {
    font-size: 1rem;
}

input, select {
    appearance: none;
    -moz-appearance: none;
    padding: 0 var(--padding);
    background-color: var(--theme-shade);
    border: 1px solid transparent;
    outline:none;
    color: var(--theme-font);
    font-size: 1.2rem;
    height: 4rem;
    transition: all 0.3s ease;
    box-shadow: var(--box-shadow-inset);
    &:disabled {
        background-color: var(--theme-disabled);
        color: var(--theme-base);
        &:hover, &:focus, &:active {
            border: 1px solid transparent;
        }
        & + label {
            color: var(--theme-base);
        }
    }
    &:hover, &:focus, &:active {
        border: 1px solid var(--theme-font);
    }
}

input[type="checkbox"], input[type="radio"] {
    appearance: none;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    width: auto;
    height: unset;
    min-height: unset;
    padding: var(--padding);
    &:checked {
        background-color: var(--theme-accent);
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
        color: var(--theme-font);
        &::after {
            content: '\2714';
            font-size: 1.6rem;
            position: absolute;
            top: 0px;
            left: 4px;
            color: var(--theme-font);
        }
        &:disabled {
            background-color: var(--theme-disabled);
            &::after {
                color: var(--theme-base); 
            }
        }
    }
}

input[type="checkbox"] {
    &:checked {
        &::after {
            left: 5px;
        }
    }
}

input[type="radio"] {
    border-radius: 50%;
    &:checked {
        &::after {
            content: '\00B7';
            font-size: 7rem;
            line-height: .9rem;
            left: 1.5px;
        }
    }
}

input[type="date"] {
    position: relative;
    padding-bottom: calc(var(--padding) /3);
    &::-webkit-calendar-picker-indicator {
        color: transparent;
        background: none;
        z-index: 1;
    }
    &::before {
        color: var(--theme-font);
        background: none;
        display: block;
        font-family: 'FontAwesome';
        content: '\f073';
        width: 15px;
        height: 20px;
        position: absolute;
        top: 1rem;
        right: 1em;
    }
    & + label.inset-label {
        padding-top: calc(var(--padding) / 4);
    }
}

[type="color"] {
    padding: var(--padding);
    box-shadow: var(--box-shadow-inset);
}

[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    cursor: pointer;
    & + label {
        background: var(--theme-shade);
        border: 1px solid transparent;
        border-radius: var(--border-radius);
        color:var(--theme-font);
        cursor: pointer;
        display: inline-block;
        outline: none;
        padding: 1.3rem 50px;
        position: relative;
        top: -3px;
        transition: all 0.3s;
        vertical-align: middle;
        overflow: hidden;
        box-shadow: var(--box-shadow-inset);
        &::before {
            color: var(--theme-font);
            font-family:"FontAwesome";
            content: '\f0ee';
            font-size: 130%;
            height: 100%;
            left: 0;
            line-height: 1;
            position: absolute;
            left: -110%;
            transition: all 0.3s;
            width: 100%;
        }
        &:hover, &:focus, &:active {
            border: 1px solid var(--theme-font);
            &::before {
                left: 15%;
            }
        }
    }
}

select {
    position: relative;
    height: unset;
    background:
        linear-gradient(45deg, transparent 50%, var(--theme-disabled) 50%),
        linear-gradient(135deg, var(--theme-disabled) 50%, transparent 50%),
        var(--theme-shade);
    background-position:
        calc(100% - 2.19rem) calc(.8rem + 1rem),
        calc(100% - 1.45rem) calc(.8rem + 1rem),
        100% 0;
    background-size:
        .6em .6em,
        .6em .6em,
        2.5em 2.5em;
    background-repeat: no-repeat;
    line-height: 3;
    padding: calc(var(--padding) / 2) var(--padding) 0 var(--padding);
    & + label.inset-label {
        padding-top: calc(var(--padding) / 8);
    }
}

.form-group {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: start;
    flex-wrap: wrap;
    & > *:not(label):not([type="checkbox"]):not([type="radio"]):not([type="color"]) {
        flex-grow: 1;
    }
    & > label:first-child {
        margin-left: calc(var(--padding) / 2);
    }
    & ::placeholder {
        position: relative;
        text-align: right;
        top: -10px;
    }
    & label.inset-label, label.inset-label {
        position: absolute;
        line-height: 3;
        height: 100%;
        padding-left: calc(var(--padding) * 1.1);
        pointer-events: none;
    }
    & input:not([type="checkbox"]):not([type="radio"]):not([type="color"]) {
        padding-top: 1.6rem;
    }
    & :focus + label.inset-label, :valid + label.inset-label {
        line-height: 1;
        font-size: 1rem;
        top: 0;
    }
}