$charcoal:      rgb(49, 49, 49) !default;
$charcoal-dark:   darken($charcoal, 8%) !default;
$charcoal-dark-x: darken($charcoal, 15%) !default;
$charcoal-light:  lighten($charcoal, 10%) !default;
$frost:         rgb(230, 230, 230) !default;
$frost-dark:      darken($frost, 8%) !default;
$frost-dark-x:    darken($frost, 20%) !default;
$frost-light:     lighten($frost, 10%) !default;
$mint:          rgb(100, 180, 150) !default;
$sunburst:      rgb(230, 140, 10) !default;

$colors: (
    "charcoal":        $charcoal,
    "charcoal-dark":   $charcoal-dark,
    "charcoal-dark-x": $charcoal-dark-x,
    "charcoal-light":  $charcoal-light,
    "frost":           $frost,
    "frost-dark":      $frost-dark,
    "frost-dark-x":    $frost-dark-x,
    "frost-light":     $frost-light,
    "mint":            $mint,
    "sunburst":        $sunburst
) !default;


$theme-light-colors: (
    "base":     $frost,
    "tint":     $frost-light,
    "shade":    $frost-dark,
    "shade-x":  $frost-dark-x,
    "disabled":  $frost-dark-x,
    "font":     $charcoal,
    "accent":  $mint
) !default;

$theme-dark-colors: (
    "base":     $charcoal,
    "tint":     $charcoal-light,
    "shade":    $charcoal-dark,
    "shade-x":  $charcoal-dark-x,
    "disabled": $charcoal-dark-x,
    "font":     $frost,
    "accent":  $sunburst
) !default;

:root, [data-theme="light"], [data-theme="default"] {
    @each $color, $value in $colors {
        --color-#{$color}: #{$value};
    }
    
    @each $color, $value in $theme-light-colors {
        --theme-#{$color}: #{$value};
    }
    --border-radius: 2px;
    --border-style: 1px solid var(--theme-shade);
    --box-shadow: 1px 1px 5px 0px var(--theme-shade-x);
    --box-shadow-inset: inset 0px 0px 5px 0px var(--theme-shade-x);
    --padding: 1rem;
}

[data-theme="dark"] {
    @each $color, $value in $theme-dark-colors {
        --theme-#{$color}: #{$value};
    }
    --border-style: 1px solid var(--theme-shade);
    --box-shadow: 1px 1px 5px 0px var(--theme-shade-x);
    --box-shadow-inset: inset 0px 0px 5px 0px var(--theme-shade-x);
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Spacemono';
    font-style: normal;
    font-weight: 400;
    src: local('SpaceMono Regular'), local('Spacemono-Regular'),
         url('../fonts/SpaceMono-Regular.ttf') format('truetype');
    font-display: swap;
}

*, *::before, *::after {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    gap: .5rem;
}

* + * {
    margin-top: calc(var(--padding) / 2);
}